USE [master]
GO
/****** Object:  Database [INVENTORY]    Script Date: 9/7/2024 7:58:16 PM ******/
CREATE DATABASE [INVENTORY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INVENTORY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\INVENTORY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'INVENTORY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\INVENTORY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INVENTORY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INVENTORY]
GO
/****** Object:  Schema [inventory]    Script Date: 9/7/2024 7:58:16 PM ******/
CREATE SCHEMA [inventory]
GO
/****** Object:  Table [inventory].[CUSTOMERS]    Script Date: 9/7/2024 7:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [inventory].[CUSTOMERS](
	[CUSTOMER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [inventory].[TRACK_INVOICE_DETAILS]    Script Date: 9/7/2024 7:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [inventory].[TRACK_INVOICE_DETAILS](
	[INVOICE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICE_NUMBER] [nvarchar](100) NULL,
	[INVOICE_DATE] [datetime] NULL,
	[INVOICE_DUE_DATE] [datetime] NULL,
	[INVOICE_DESCRIPTION] [nvarchar](max) NULL,
	[CUSTOMER] [nvarchar](50) NULL,
	[INVOICE_STATUS] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GUI_Insert_Customer]    Script Date: 9/7/2024 7:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUI_Insert_Customer](@CUSTOMER     NVARCHAR(100)
                                            ,@ERROR_CODE   NVARCHAR(MAX) OUT)
AS
BEGIN
  SET @ERROR_CODE = ''
  BEGIN TRY
     IF EXISTS(SELECT CUSTOMER FROM inventory.CUSTOMERS WHERE CUSTOMER IN(@CUSTOMER))
		  BEGIN
			 SET @ERROR_CODE = 'Customer Already Exists:'
		  END
	  ELSE
		  BEGIN
             INSERT INTO inventory.CUSTOMERS (CUSTOMER) VALUES (@CUSTOMER)
		  END
  END TRY

  BEGIN CATCH
         SET @ERROR_CODE = 'An error occured, Please contact the system administrator.Errors:'+ CONVERT(NVARCHAR(MAX), ERROR_MESSAGE());
  END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[GUI_Insert_Update_Delete_Invoice_Details]    Script Date: 9/7/2024 7:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUI_Insert_Update_Delete_Invoice_Details](@OP                  NVARCHAR(1)
																,@INVOICE_ID           BIGINT
																,@INVOICE_NUMBER       NVARCHAR(100)
																,@INVOICE_DATE         DATETIME
																,@INVOICE_DUE_DATE     DATETIME
																,@COLUMNNAME           NVARCHAR(100)= NULL
																,@INVOICE_DESCRIPTION  NVARCHAR(MAX)
																,@CUSTOMER             NVARCHAR(50)
																,@INVOICE_STATUS       NVARCHAR(20)
																,@ERROR_CODE           NVARCHAR(MAX) OUT)

AS
BEGIN
SET @ERROR_CODE = ''

  BEGIN TRY
      IF @OP = 'I'
	  BEGIN
	     INSERT INTO inventory.TRACK_INVOICE_DETAILS (INVOICE_NUMBER
		                                             ,INVOICE_DATE
													 ,INVOICE_DUE_DATE
													 ,INVOICE_DESCRIPTION
													 ,CUSTOMER
													 ,INVOICE_STATUS)
									VALUES
									                 (@INVOICE_NUMBER
													 ,@INVOICE_DATE
													 ,@INVOICE_DUE_DATE
													 ,@INVOICE_DESCRIPTION
													 ,@CUSTOMER
													 ,@INVOICE_STATUS)

	   END

	   IF @OP = 'M'
	   BEGIN
		  UPDATE inventory.TRACK_INVOICE_DETAILS 
		     SET  INVOICE_NUMBER      =  @INVOICE_NUMBER
			     ,INVOICE_DATE        =  @INVOICE_DATE
			     ,INVOICE_DUE_DATE    =  @INVOICE_DUE_DATE
				 ,INVOICE_DESCRIPTION =  @INVOICE_DESCRIPTION
				 ,CUSTOMER            =  @CUSTOMER
				 ,INVOICE_STATUS      =  @INVOICE_STATUS
		   WHERE  INVOICE_ID          =  @INVOICE_ID
	   END

	IF @OP = 'D'
	   BEGIN
		  DELETE FROM inventory.TRACK_INVOICE_DETAILS 
		        WHERE  INVOICE_ID = @INVOICE_ID
   END

  END TRY

  BEGIN CATCH
     SET @ERROR_CODE = 'An error occured, Please contact the system administrator.Errors:'+ CONVERT(NVARCHAR(MAX), ERROR_MESSAGE());
  END CATCH

END
GO
USE [master]
GO
